{% extends 'base.html' %}

{% block content %}
  <main>
    <h1>My Categories</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of receipts</th>
        </tr>
      </thead>
      <tbody>
        {% for category_item in category_data %}
          <tr>
            <td>{{ category_item.category.name }}</td>
            <td>{{ category_item.receipt_count }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
{% endblock content %}
