{% extends 'base.html' %}

{% block content %}
  <main>
    <h1>My Accounts</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Number</th>
          <th>Number of receipts</th>
        </tr>
      </thead>
      <tbody>
        {% for account_item in account_data %}
          <tr>
            <td>{{ account_item.account.name }}</td>
            <td>{{ account_item.account.number }}</td>
            <td>{{ account_item.receipt_count }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
{% endblock content %}

